<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="row">
          <div class="col-sm-4">
            <h3><b>Products</b></h3>
            <p><i class="fa-solid fa-mars"></i> Mens-Wear</p>
            <p><i class="fa-solid fa-venus"></i> Womens-Wear</p>
            <p><i class="fa-solid fa-child"></i> Kids-Wear</p>
            <p>Foot-Wear</p>

          </div>
          <div class="col-sm-4">
            <h3><b>Contact Us</b></h3>
            <p><i class="fa-solid fa-phone"></i> : +919874561239</p>
            <p><i class="fa-solid fa-envelope"></i> : trendywear@gmail.com</p>
            <p><i class="fa-solid fa-location-dot"></i> : hyderabad 501505</p>
          </div>
          <div class="col-sm-4">
            <h3><b>Follow Us</b></h3>
            <p><i class="fa-brands fa-instagram"></i> Instagram</p>
            <p><i class="fa-brands fa-twitter"></i> Twitter</p>
            <p><i class="fa-brands fa-facebook"></i> Facebook</p>
          </div>
        </div>
      </div>
      <div class="goud">
        <div class="col-sm-12">
             <h4>Created By Gnaneshwar Goud || All Rights Reserved</h4>
        </div>
      </div>
</body>
</html>
<!-- <p>footer works!</p> -->
