<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container-sm-md-lg-xl">
        <div id="demo" class="carousel slide" data-ride="carousel">
  
          <!-- Indicators -->
          <ul class="carousel-indicators">
            <li data-target="#demo" data-slide-to="0" class="active"></li>
            <li data-target="#demo" data-slide-to="1"></li>
            <li data-target="#demo" data-slide-to="2"></li>
          </ul>
        
          <!-- The slideshow -->
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="./assets/gallery/MEN COROSAL-4.gif" alt="Los Angeles" width="600px" height="600px">
            </div>
            <div class="carousel-item">
              <img src="./assets/gallery/MEN COROSAL-2.jpg" alt="Chicago" width="600px" height="600px">
            </div>
            <div class="carousel-item">
              <img src="./assets/gallery/MEN COROSAL-1.webp" alt="New York" width="600px" height="600px">
            </div>
          </div>
        
          <!-- Left and right controls -->
          <a class="carousel-control-prev" href="#demo" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
          </a>
          <a class="carousel-control-next" href="#demo" data-slide="next">
            <span class="carousel-control-next-icon"></span>
          </a>
         </div>
      </div>
<br>
<h1><b>T-Shirts</b></h1>
      <div class="card-deck">
               <div class="card" style="width:400px">
                        <img class="card-img-top" src="./assets/gallery/MENS-C-001-men-s-blue-the-traveller-t-shirt-287588-1655748288-1.webp" alt="Card image" style="width:100%">
                    <div class="card-body">
                         <p class="card-text">men-s-blue-the-traveller-t-shirt</p>
                         <p><i class="fa-solid fa-indian-rupee-sign">499</i></p>
                        <a href="#" class="btn btn-primary">Add To card</a>
                    </div>
                </div>


              <div class="card" style="width:400px">
                        <img class="card-img-top" src="./assets/gallery/MEN-C-002-men-s-black-anime-flamed-oversized-t-shirt-469020-1655751807-1.webp" alt="Card image" style="width:100%">
                    <div class="card-body">
                         <p class="card-text">men-s-black-anime-flamed-oversized-t-shirt</p>
                         <p><i class="fa-solid fa-indian-rupee-sign">899</i></p>
                        <a href="#" class="btn btn-primary">Add To card</a>
                    </div>
              </div>


              <div class="card" style="width:400px">
                           <img class="card-img-top" src="./assets/gallery/MEN-C-003-mickey-trio-call-half-sleeve-t-shirt-dl-276320-1655747908-1.webp" alt="Card image" style="width:100%">
                 <div class="card-body">
                          <p class="card-text">mickey-trio-call-half-sleeve-t-shirt</p>
                          <p><i class="fa-solid fa-indian-rupee-sign">599</i></p>
                         <a href="#" class="btn btn-primary">Add To card</a>
                </div>
              </div>

              <div class="card" style="width:400px">
                       <img class="card-img-top" src="./assets/gallery/MEN-C-004-certified-troublemakers-half-sleeve-t-shirt-tjl-black-287865-1655748203-1.webp" alt="Card image" style="width:100%">
                    <div class="card-body">
                           <p class="card-text">certified-troublemakers-half-sleeve-t-shirt</p>
                           <p><i class="fa-solid fa-indian-rupee-sign">399</i></p>
                         <a href="#" class="btn btn-primary">Add To card</a>
                      </div>
              </div>
    </div>
    <br>
    <br>
    <br>
    <div class="card-deck">
      <div class="card" style="width:400px">
               <img class="card-img-top" src="./assets/gallery/MEN-C-005-dab-marshmello-half-sleeve-t-shirt-200407-1655748535-1.webp" alt="Card image" style="width:100%">
           <div class="card-body">
                <p class="card-text">marshmello-half-sleeve-t-shirt</p>
                <p><i class="fa-solid fa-indian-rupee-sign">359</i></p>
               <a href="#" class="btn btn-primary">Add To card</a>
           </div>
       </div>


     <div class="card" style="width:400px">
               <img class="card-img-top" src="./assets/gallery/MEN-CARD-006men-s-green-polo-t-shirt-464923-1656142495-1.webp" alt="Card image" style="width:100%">
           <div class="card-body">
                <p class="card-text">men-s-green-polo-t-shirt</p>
                <p><i class="fa-solid fa-indian-rupee-sign">459</i></p>
               <a href="#" class="btn btn-primary">Add To card</a>
           </div>
     </div>


     <div class="card" style="width:400px">
                  <img class="card-img-top" src="./assets/gallery/MEN-C-007chili-pepper-short-collar-tipping-polo-329823-1656148624-1.webp" alt="Card image" style="width:100%">
        <div class="card-body">
                 <p class="card-text">chili-pepper-short-collar-tipping-polo</p>
                 <p><i class="fa-solid fa-indian-rupee-sign">399</i></p>
                <a href="#" class="btn btn-primary">Add To card</a>
       </div>
     </div>

     <div class="card" style="width:400px">
              <img class="card-img-top" src="./assets/gallery/MEN-C-008-pitch-black-classic-polo-273771-1655816214-1.webp" alt="Card image" style="width:100%">
           <div class="card-body">
                  <p class="card-text">pitch-black-classic-polo</p>
                  <p><i class="fa-solid fa-indian-rupee-sign">489</i></p>
                <a href="#" class="btn btn-primary">Add To card</a>
             </div>
     </div>
</div>
<br>
<br>
<br>                       
<h1><b>Shirts</b></h1>
      <div class="card-deck">
               <div class="card" style="width:400px">
                        <img class="card-img-top" src="./assets/gallery/MEN-SHIRTS-001-men-s-chill-aop-shirt-362239-1655816019-1.webp" alt="Card image" style="width:100%">
                    <div class="card-body">
                         <p class="card-text">men-s-chill-aop-shirt</p>
                         <p><i class="fa-solid fa-indian-rupee-sign">859</i></p>
                        <a href="#" class="btn btn-primary">Add To card</a>
                    </div>
                </div>


              <div class="card" style="width:400px">
                        <img class="card-img-top" src="./assets/gallery/MEN-SHIRTS-002-men-s-white-plus-size-shirt-354756-1656139280-1.webp" alt="Card image" style="width:100%">
                    <div class="card-body">
                         <p class="card-text">men-s-white-plus-size-shirt</p>
                         <p><i class="fa-solid fa-indian-rupee-sign">759</i></p>
                        <a href="#" class="btn btn-primary">Add To card</a>
                    </div>
              </div>


              <div class="card" style="width:400px">
                           <img class="card-img-top" src="./assets/gallery/MEN-SHIRTS-003-half-and-half-color-block-viscose-shirt-367111-1656146705-1.webp" alt="Card image" style="width:100%">
                 <div class="card-body">
                          <p class="card-text">half-and-half-color-block-viscose-shirt</p>
                          <p><i class="fa-solid fa-indian-rupee-sign">889</i></p>
                         <a href="#" class="btn btn-primary">Add To card</a>
                </div>
              </div>

              <div class="card" style="width:400px">
                       <img class="card-img-top" src="./assets/gallery/MEN-SHIRTS-004-coral-cloud-floral-aop-half-sleeve-shirt-352201-1655835959-1.webp" alt="Card image" style="width:100%">
                    <div class="card-body">
                           <p class="card-text">coral-cloud-floral-aop-half-sleeve-shirt</p>
                           <p><i class="fa-solid fa-indian-rupee-sign">899</i></p>
                         <a href="#" class="btn btn-primary">Add To card</a>
                      </div>
              </div>
    </div>
    <br>
    <br>
    <br>
    <div class="card-deck">
      <div class="card" style="width:400px">
               <img class="card-img-top" src="./assets/gallery/MEN-SHIRTS-005-floral-rose-white-half-sleeve-shirt-351521-1655750582-1.webp" alt="Card image" style="width:100%">
           <div class="card-body">
                <p class="card-text">floral-rose-white-half-sleeve-shirt</p>
                <p><i class="fa-solid fa-indian-rupee-sign">999</i></p>
               <a href="#" class="btn btn-primary">Add To card</a>
           </div>
       </div>


     <div class="card" style="width:400px">
               <img class="card-img-top" src="./assets/gallery/MEN-SHIRTS-006-khadio-full-sleeves-cotton-casual-chinese-neck-shirt-394536-1656139437-1.webp" alt="Card image" style="width:100%">
           <div class="card-body">
                <p class="card-text">khadio-full-sleeves-cotton-casual-chinese-neck-shirt</p>
                <p><i class="fa-solid fa-indian-rupee-sign">799</i></p>
               <a href="#" class="btn btn-primary">Add To card</a>
           </div>
     </div>


     <div class="card" style="width:400px">
                  <img class="card-img-top" src="./assets/gallery/MEN-SHIRTS-007-khadio-half-sleevess-cotton-casual-printed-shirt-408213-1656145017-1.webp" alt="Card image" style="width:100%">
        <div class="card-body">
                 <p class="card-text">khadio-half-sleevess-cotton-casual-printed-shirt</p>
                 <p><i class="fa-solid fa-indian-rupee-sign">729</i></p>
                <a href="#" class="btn btn-primary">Add To card</a>
       </div>
     </div>

     <div class="card" style="width:400px">
              <img class="card-img-top" src="./assets/gallery/MEN-SHIRT-008blue-hawaiian-aop-half-sleeve-shirt-352210-1655749983-1.webp" alt="Card image" style="width:100%">
           <div class="card-body">
                  <p class="card-text">blue-hawaiian-aop-half-sleeve-shirt</p>
                  <p><i class="fa-solid fa-indian-rupee-sign">899</i></p>
                <a href="#" class="btn btn-primary">Add To card</a>
           </div>
</div>
     <br>
     <br>
     <br>
                                  
</div>
<h1><b>Boxers</b></h1>
<div class="card-deck">
         <div class="card" style="width:400px">
                  <img class="card-img-top" src="./assets/gallery/BOXERS-001-men-s-blue-night-dragon-all-over-printed-boxers-464439-1655873000-1.webp" alt="Card image" style="width:100%">
              <div class="card-body">
                   <p class="card-text">blue-night-dragon-all-over-printed-boxers</p>
                   <p><i class="fa-solid fa-indian-rupee-sign">499</i></p>
                  <a href="#" class="btn btn-primary">Add To card</a>
              </div>
          </div>


        <div class="card" style="width:400px">
                  <img class="card-img-top" src="./assets/gallery/BOXERS-002-men-s-white-all-over-printed-boxers-481821-1655810674-1.webp" alt="Card image" style="width:100%">
              <div class="card-body">
                   <p class="card-text">white-all-over-printed-boxers</p>
                   <p><i class="fa-solid fa-indian-rupee-sign">899</i></p>
                  <a href="#" class="btn btn-primary">Add To card</a>
              </div>
        </div>


        <div class="card" style="width:400px">
                     <img class="card-img-top" src="./assets/gallery/BOXERS-003-men-s-black-night-dragon-all-over-printed-boxers-464438-1656045187-1.webp" alt="Card image" style="width:100%">
           <div class="card-body">
                    <p class="card-text">black-night-dragon-all-over-printed-boxers</p>
                    <p><i class="fa-solid fa-indian-rupee-sign">599</i></p>
                   <a href="#" class="btn btn-primary">Add To card</a>
          </div>
        </div>

        <div class="card" style="width:400px">
                 <img class="card-img-top" src="./assets/gallery/BOXERS-004-men-s-blue-all-over-printed-boxers-481817-1655813593-1.webp" alt="Card image" style="width:100%">
              <div class="card-body">
                     <p class="card-text">blue-all-over-printed-boxers</p>
                     <p><i class="fa-solid fa-indian-rupee-sign">399</i></p>
                   <a href="#" class="btn btn-primary">Add To card</a>
                </div>
        </div>
</div>
<br>
<br>
<br>

<div class="card-deck">
         <div class="card" style="width:400px">
                  <img class="card-img-top" src="./assets/gallery/BOXERS-005-men-s-aop-boxer-497421-1656946275-1.webp" alt="Card image" style="width:100%">
              <div class="card-body">
                   <p class="card-text">men-s-aop-boxer</p>
                   <p><i class="fa-solid fa-indian-rupee-sign">499</i></p>
                  <a href="#" class="btn btn-primary">Add To card</a>
              </div>
          </div>


        <div class="card" style="width:400px">
                  <img class="card-img-top" src="./assets/gallery/BOXERS-006-men-s-black-typography-boxers-512313-1656649266-1.webp" alt="Card image" style="width:100%">
              <div class="card-body">
                   <p class="card-text">men-s-black-typography-boxers</p>
                   <p><i class="fa-solid fa-indian-rupee-sign">899</i></p>
                  <a href="#" class="btn btn-primary">Add To card</a>
              </div>
        </div>


        <div class="card" style="width:400px">
                     <img class="card-img-top" src="./assets/gallery/BOXERS-007-what-s-down-blue-doodles-mens-boxers-435368-1656175914-1.webp" alt="Card image" style="width:100%">
           <div class="card-body">
                    <p class="card-text">what-s-down-blue-doodles-mens-boxers</p>
                    <p><i class="fa-solid fa-indian-rupee-sign">599</i></p>
                   <a href="#" class="btn btn-primary">Add To card</a>
          </div>
        </div>

        <div class="card" style="width:400px">
                 <img class="card-img-top" src="./assets/gallery/BOXERS-009-men-s-aop-boxer-497454-1656946696-1.webp" alt="Card image" style="width:100%">
              <div class="card-body">
                     <p class="card-text">men-s-aop-boxer</p>
                     <p><i class="fa-solid fa-indian-rupee-sign">399</i></p>
                   <a href="#" class="btn btn-primary">Add To card</a>
                </div>
        </div>
</div>
<br>
<br>
<br>
</body>
</html>
<!-- <p>men works!</p> -->
