<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <div class="container-sm-md-lg-xl">
        <div id="demo" class="carousel slide" data-ride="carousel">
  
          <!-- Indicators -->
          <ul class="carousel-indicators">
            <li data-target="#demo" data-slide-to="0" class="active"></li>
            <li data-target="#demo" data-slide-to="1"></li>
            <li data-target="#demo" data-slide-to="2"></li>
          </ul>
        
          <!-- The slideshow -->
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="./assets/gallery/MEN-SLIDES-006-running-tom-tjl-lightweight-adjustable-strap-mens-slider-273405-1655815823-1.webp" alt="Los Angeles" width="600px" height="600px">
            </div>
            <div class="carousel-item">
              <img src="./assets/gallery/FOOTWEAR-COROSAL-2.webp" alt="Chicago" width="600px" height="600px">
            </div>
            <div class="carousel-item">
              <img src="./assets/gallery/FOOTWEAR-COROSAL-3.webp" alt="New York" width="600px" height="600px">
            </div>
          </div>
        
          <!-- Left and right controls -->
          <a class="carousel-control-prev" href="#demo" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
          </a>
          <a class="carousel-control-next" href="#demo" data-slide="next">
            <span class="carousel-control-next-icon"></span>
          </a>
        </div>
      </div>
      <br>
      <h1><b>Slides</b></h1>
      <br>

      <div class="card-deck">
        <div class="card" style="width:400px">
                 <img class="card-img-top" src="./assets/gallery/MEN-SLIDES-001-peeping-mickey-lightweight-adjustable-strap-men-slider-dl-352240-1655815021-1.webp" alt="Card image" style="width:100%">
             <div class="card-body">
                  <p class="card-text">peeping-mickey-lightweight-adjustable-strap-men-slider</p>
                  <p><i class="fa-solid fa-indian-rupee-sign">899</i></p>
                 <a href="#" class="btn btn-primary">Add To card</a>
             </div>
         </div>


       <div class="card" style="width:400px">
                 <img class="card-img-top" src="./assets/gallery/MEN-SLIDES-002-brooklyn-nyc-lines-lightweight-adjustable-strap-men-slider-333620-1655747846-1.webp" alt="Card image" style="width:100%">
             <div class="card-body">
                  <p class="card-text">brooklyn-nyc-lines-lightweight-adjustable-strap-men-slider</p>
                  <p><i class="fa-solid fa-indian-rupee-sign">859</i></p>
                 <a href="#" class="btn btn-primary">Add To card</a>
             </div>
       </div>


       <div class="card" style="width:400px">
                    <img class="card-img-top" src="./assets/gallery/MEN-SLIDES-003-sliding-bat-lightweight-adjustable-strap-men-slider-367177-1655748682-1.webp" alt="Card image" style="width:100%">
          <div class="card-body">
                   <p class="card-text">sliding-bat-lightweight-adjustable-strap-men-slider</p>
                   <p><i class="fa-solid fa-indian-rupee-sign">999</i></p>
                  <a href="#" class="btn btn-primary">Add To card</a>
         </div>
       </div>

       <div class="card" style="width:400px">
                <img class="card-img-top" src="./assets/gallery/MEN-SLIDES-004-mickey-icon-adjustable-men-s-slider-dl-436011-1655814160-1.webp" alt="Card image" style="width:100%">
             <div class="card-body">
                    <p class="card-text">mickey-icon-adjustable-men-s-slider</p>
                    <p><i class="fa-solid fa-indian-rupee-sign">799</i></p>
                  <a href="#" class="btn btn-primary">Add To card</a>
               </div>
       </div>
</div>
<br>
<br>
<br>
<div class="card-deck">
  <div class="card" style="width:400px">
           <img class="card-img-top" src="./assets/gallery/MEN-SLIDES-005-extrimos-men-cool-and-quirky-printed-sliders-415614-1655813682-1.webp" alt="Card image" style="width:100%">
       <div class="card-body">
            <p class="card-text">extrimos-men-cool-and-quirky-printed-sliders</p>
            <p><i class="fa-solid fa-indian-rupee-sign">599</i></p>
           <a href="#" class="btn btn-primary">Add To card</a>
       </div>
   </div>


 <div class="card" style="width:400px">
           <img class="card-img-top" src="./assets/gallery/MEN-SLIDES-006-running-tom-tjl-lightweight-adjustable-strap-mens-slider-273405-1655815823-1.webp" alt="Card image" style="width:100%">
       <div class="card-body">
            <p class="card-text">running-tom-tjl-lightweight-adjustable-strap-mens-slider</p>
            <p><i class="fa-solid fa-indian-rupee-sign">689</i></p>
           <a href="#" class="btn btn-primary">Add To card</a>
       </div>
 </div>


 <div class="card" style="width:400px">
              <img class="card-img-top" src="./assets/gallery/MEN-SLIDES-007-big-herbal-weed-lightweight-adjustable-strap-men-slider-333615-1655749615-3.webp" alt="Card image" style="width:100%">
    <div class="card-body">
             <p class="card-text">big-herbal-weed-lightweight-adjustable-strap-men-slider</p>
             <p><i class="fa-solid fa-indian-rupee-sign">959</i></p>
            <a href="#" class="btn btn-primary">Add To card</a>
   </div>
 </div>

 <div class="card" style="width:400px">
          <img class="card-img-top" src="./assets/gallery/MEN-SLIDES-008-men-s-grey-casual-sliders-500905-1655815292-1.webp" alt="Card image" style="width:100%">
       <div class="card-body">
              <p class="card-text">men-s-grey-casual-sliders</p>
              <p><i class="fa-solid fa-indian-rupee-sign">869</i></p>
            <a href="#" class="btn btn-primary">Add To card</a>
         </div>
 </div>
</div>
<br>
<br>
<br>
<h1><b>Shoes</b></h1>
<br>
<br>
<br>
<div class="card-deck">
  <div class="card" style="width:400px">
           <img class="card-img-top" src="./assets/gallery/MEN-SS-001-afrojack-men-s-black-white-color-block-sneakers-505774-1656139022-1.webp" alt="Card image" style="width:100%">
       <div class="card-body">
            <p class="card-text">afrojack-men-s-black-white-color-block-sneakers</p>
            <p><i class="fa-solid fa-indian-rupee-sign">1299</i></p>
           <a href="#" class="btn btn-primary">Add To card</a>
       </div>
   </div>


 <div class="card" style="width:400px">
           <img class="card-img-top" src="./assets/gallery/MEN-SS-002-men-s-orange-and-black-color-block-casual-shoes-479836-1655810926-1.webp" alt="Card image" style="width:100%">
       <div class="card-body">
            <p class="card-text">men-s-orange-and-black-color-block-casual-shoes</p>
            <p><i class="fa-solid fa-indian-rupee-sign">1399</i></p>
           <a href="#" class="btn btn-primary">Add To card</a>
       </div>
 </div>


 <div class="card" style="width:400px">
              <img class="card-img-top" src="./assets/gallery/MEN-SS-003-men-s-black-blue-color-block-sports-shoes-516781-1657531639-1.webp" alt="Card image" style="width:100%">
    <div class="card-body">
             <p class="card-text">men-s-black-blue-color-block-sports-shoes</p>
             <p><i class="fa-solid fa-indian-rupee-sign">1599</i></p>
            <a href="#" class="btn btn-primary">Add To card</a>
   </div>
 </div>

 <div class="card" style="width:400px">
          <img class="card-img-top" src="./assets/gallery/MEN-SS-004-men-s-grey-white-color-block-casual-shoes-516773-1657290595-1.webp" alt="Card image" style="width:100%">
       <div class="card-body">
              <p class="card-text">men-s-grey-white-color-block-casual-shoes</p>
              <p><i class="fa-solid fa-indian-rupee-sign">1499</i></p>
            <a href="#" class="btn btn-primary">Add To card</a>
         </div>
 </div>
</div>
<br>
<br>
<br>
<div class="card-deck">
  <div class="card" style="width:400px">
           <img class="card-img-top" src="./assets/gallery/MEN-SS-005-men-s-green-printed-sports-shoes-516741-1657538103-1.webp" alt="Card image" style="width:100%">
       <div class="card-body">
            <p class="card-text">men-s-green-printed-sports-shoes</p>
            <p><i class="fa-solid fa-indian-rupee-sign">1359</i></p>
           <a href="#" class="btn btn-primary">Add To card</a>
       </div>
   </div>


 <div class="card" style="width:400px">
           <img class="card-img-top" src="./assets/gallery/MEN-SHOES-008-men-s-blue-and-white-color-block-sneakers-479862-1655810999-1.webp" alt="Card image" style="width:100%">
       <div class="card-body">
            <p class="card-text">men-s-blue-and-white-color-block-sneakers</p>
            <p><i class="fa-solid fa-indian-rupee-sign">1689</i></p>
           <a href="#" class="btn btn-primary">Add To card</a>
       </div>
 </div>


 <div class="card" style="width:400px">
              <img class="card-img-top" src="./assets/gallery/MEN-SS-006afrojack-men-s-black-high-top-boots-505759-1655820938-1.webp" alt="Card image" style="width:100%">
    <div class="card-body">
             <p class="card-text">afrojack-men-s-black-high-top-boots-</p>
             <p><i class="fa-solid fa-indian-rupee-sign">1759</i></p>
            <a href="#" class="btn btn-primary">Add To card</a>
   </div>
 </div>

 <div class="card" style="width:400px">
          <img class="card-img-top" src="./assets/gallery/MEN SS-007-men-s-white-printed-casual-shoes-516740-1657528533-1.webp" alt="Card image" style="width:100%">
       <div class="card-body">
              <p class="card-text">men-s-white-printed-casual-shoes</p>
              <p><i class="fa-solid fa-indian-rupee-sign">1389</i></p>
            <a href="#" class="btn btn-primary">Add To card</a>
         </div>
 </div>
</div>
<br>
<br>
<br>

</body>
</html>
<!-- <p>footwear works!</p> -->