<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container-sm-md-lg-xl">
      <div id="demo" class="carousel slide" data-ride="carousel">

        <!-- Indicators -->
        <ul class="carousel-indicators">
          <li data-target="#demo" data-slide-to="0" class="active"></li>
          <li data-target="#demo" data-slide-to="1"></li>
          <li data-target="#demo" data-slide-to="2"></li>
        </ul>
      
        <!-- The slideshow -->
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="./assets/gallery/HOME-COROSAL-001.webp" alt="Los Angeles" width="600px" height="700px">
          </div>
          <div class="carousel-item">
            <img src="./assets/gallery/HOME -COROSAL-002.webp" alt="Chicago" width="600px" height="700px">
          </div>
          <div class="carousel-item">
            <img src="./assets/gallery/HOME-COROSAL-003.jpg" alt="New York" width="600px" height="700px">
          </div>
        </div>
      
        <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
          <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
          <span class="carousel-control-next-icon"></span>
        </a>
      
      </div>
    </div>
    <br>
    <br>
    <br>

    <div class="card-deck">
      <div class="card" style="width:400px">
               <img class="card-img-top" src="./assets/gallery/MEN-C-005-dab-marshmello-half-sleeve-t-shirt-200407-1655748535-1.webp" alt="Card image" style="width:100%">
           <div class="card-body">
                <p class="card-text"><b><h3>Mens-Wear</h3></b></p>
               <a href="#" class="btn btn-primary">View-More</a>
           </div>
       </div>


     <div class="card" style="width:400px">
               <img class="card-img-top" src="./assets/gallery/WOMEN-TS-001peeking-army-boyfriend-t-shirt-519415-1657896440-1.jpg" alt="Card image" style="width:100%">
           <div class="card-body">
                <p class="card-text"><b><h3>Womens-Wear</h3></b></p>
               <a href="#" class="btn btn-primary">View-More</a>
           </div>
     </div>


     <div class="card" style="width:400px">
                  <img class="card-img-top" src="./assets/gallery/KIDS-F-004-aarika_girls_ethnic_blue_dungaree_dress_with_striped_top.webp" alt="Card image" style="width:100%">
        <div class="card-body">
                 <p class="card-text"><b><h3>Kids-Wear</h3></b></p>
                <a href="#" class="btn btn-primary">View-More</a>
       </div>
     </div>

     <div class="card" style="width:400px">
              <img class="card-img-top" src="./assets/gallery/MEN-SLIDES-007-big-herbal-weed-lightweight-adjustable-strap-men-slider-333615-1655749615-3.webp" alt="Card image" style="width:100%">
           <div class="card-body">
                  <p class="card-text"><b><h3>Foot-Wear</h3></b></p>
                <a href="#" class="btn btn-primary">View-More</a>
             </div>
     </div>
</div>
<br>
<br>
<br>
</body>
</html>
<!-- <p>home works!</p> -->
