<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div id="demo" class="carousel slide" data-ride="carousel">
  
          <!-- Indicators -->
          <ul class="carousel-indicators">
            <li data-target="#demo" data-slide-to="0" class="active"></li>
            <li data-target="#demo" data-slide-to="1"></li>
            <li data-target="#demo" data-slide-to="2"></li>
          </ul>
        
          <!-- The slideshow -->
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="./assets/gallery/WOMEN COROSAL-1.webp" alt="Los Angeles" width="600px" height="600px">
            </div>
            <div class="carousel-item">
              <img src="./assets/gallery/WOMEN COROSAL-2.webp" alt="Chicago" width="600px" height="600px">
            </div>
            <div class="carousel-item">
              <img src="./assets/gallery/WOMEN COROSAL-3.webp" alt="New York" width="600px" height="600px">
            </div>
          </div>
        
          <!-- Left and right controls -->
          <a class="carousel-control-prev" href="#demo" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
          </a>
          <a class="carousel-control-next" href="#demo" data-slide="next">
            <span class="carousel-control-next-icon"></span>
          </a>
        
        </div>
      </div>
      <br>
<br>
<br>
      <h1><b>T-Shirts</b></h1>
      <br>
<br>
<br>
      <div class="card-deck">
        <div class="card" style="width:400px">
                 <img class="card-img-top" src="./assets/gallery/WOMEN-TS-001peeking-army-boyfriend-t-shirt-519415-1657896440-1.jpg" alt="Card image" style="width:100%">
             <div class="card-body">
                  <p class="card-text">peeking-army-boyfriend-t-shirt</p>
                  <p><i class="fa-solid fa-indian-rupee-sign">399</i></p>
                 <a href="#" class="btn btn-primary">Add To card</a>
             </div>
         </div>


       <div class="card" style="width:400px">
                 <img class="card-img-top" src="./assets/gallery/WOMEN-TS-002women-s-black-choose-happiness-boyfriend-t-shirt-300978-1655810900-1.webp" alt="Card image" style="width:100%">
             <div class="card-body">
                  <p class="card-text">women-s-black-choose-happiness-boyfriend-t-shirt</p>
                  <p><i class="fa-solid fa-indian-rupee-sign">359</i></p>
                 <a href="#" class="btn btn-primary">Add To card</a>
             </div>
       </div>


       <div class="card" style="width:400px">
                    <img class="card-img-top" src="./assets/gallery/WOMEN-TS-003-busy-doin-nothing-boyfriend-t-shirt-dl-pineapple-yellow-277532-1655748308-1.webp" alt="Card image" style="width:100%">
          <div class="card-body">
                   <p class="card-text">busy-doin-nothing-boyfriend-t-shirt</p>
                   <p><i class="fa-solid fa-indian-rupee-sign">499</i></p>
                  <a href="#" class="btn btn-primary">Add To card</a>
         </div>
       </div>

       <div class="card" style="width:400px">
                <img class="card-img-top" src="./assets/gallery/WOMEN-TS-004-sarcastic-one-boyfriend-women-s-t-shirt-dl-386575-1655748141-1.webp" alt="Card image" style="width:100%">
             <div class="card-body">
                    <p class="card-text">sarcastic-one-boyfriend-women-s-t-shirt</p>
                    <p><i class="fa-solid fa-indian-rupee-sign">459</i></p>
                  <a href="#" class="btn btn-primary">Add To card</a>
               </div>
       </div>
</div>
<br>
<br>
<br>
              
<div class="card-deck">
  <div class="card" style="width:400px">
           <img class="card-img-top" src="./assets/gallery/WOMEN-TS-005-women-s-white-all-over-printed-t-shirt-467446-1656144661-1.webp" alt="Card image" style="width:100%">
       <div class="card-body">
            <p class="card-text">women-s-white-all-over-printed-t-shirt</p>
            <p><i class="fa-solid fa-indian-rupee-sign">489</i></p>
           <a href="#" class="btn btn-primary">Add To card</a>
       </div>
   </div>


 <div class="card" style="width:400px">
           <img class="card-img-top" src="./assets/gallery/WOMEN-TS-006-tweety-origami-full-sleeve-t-shirt-ltj-348139-1655835119-1.webp" alt="Card image" style="width:100%">
       <div class="card-body">
            <p class="card-text">tweety-origami-full-sleeve-t-shirt</p>
            <p><i class="fa-solid fa-indian-rupee-sign">479</i></p>
           <a href="#" class="btn btn-primary">Add To card</a>
       </div>
 </div>


 <div class="card" style="width:400px">
              <img class="card-img-top" src="./assets/gallery/WOMEN-TS-007-dramatic-pause-oversized-fit-t-shirt-520058-1657899609-1.webp" alt="Card image" style="width:100%">
    <div class="card-body">
             <p class="card-text">dramatic-pause-oversized-fit-t-shirt</p>
             <p><i class="fa-solid fa-indian-rupee-sign">389</i></p>
            <a href="#" class="btn btn-primary">Add To card</a>
   </div>
 </div>

 <div class="card" style="width:400px">
  <img class="card-img-top" src="./assets/gallery/WOMEN COROSAL-1.webp" alt="Card image" style="width:100%">
<div class="card-body">
 <p class="card-text">green-mickey-t-shirt</p>
 <p><i class="fa-solid fa-indian-rupee-sign">499</i></p>
<a href="#" class="btn btn-primary">Add To card</a>
</div>
</div>
</div>
<br>
<br>
<br>
<h1><b>Bottom-Wear</b></h1>
<br>
<br>
<br>
<div class="card-deck">
  <div class="card" style="width:400px">
           <img class="card-img-top" src="./assets/gallery/WOMEN-BOTTOMWEAR-001-ice-water-blue-solid-regular-fit-shorts-387093-1656140500-1.webp" alt="Card image" style="width:100%">
       <div class="card-body">
            <p class="card-text">ice-water-blue-solid-regular-fit-shorts</p>
            <p><i class="fa-solid fa-indian-rupee-sign">299</i></p>
           <a href="#" class="btn btn-primary">Add To card</a>
       </div>
   </div>


 <div class="card" style="width:400px">
           <img class="card-img-top" src="./assets/gallery/WOMEN-BOTTOMWEAR-002-red-aop-geometric-print-c-boxers-369422-1656139403-1.webp" alt="Card image" style="width:100%">
       <div class="card-body">
            <p class="card-text">BOTTOMWEAR-002-red-aop-geometric-print-c-boxers</p>
            <p><i class="fa-solid fa-indian-rupee-sign">259</i></p>
           <a href="#" class="btn btn-primary">Add To card</a>
       </div>
 </div>


 <div class="card" style="width:400px">
              <img class="card-img-top" src="./assets/gallery/WOMEN-BOTTOMWEAR-003-black-side-panel-shorts-387076-1655813561-1.webp" alt="Card image" style="width:100%">
    <div class="card-body">
             <p class="card-text">black-side-panel-shorts</p>
             <p><i class="fa-solid fa-indian-rupee-sign">399</i></p>
            <a href="#" class="btn btn-primary">Add To card</a>
   </div>
 </div>

 <div class="card" style="width:400px">
  <img class="card-img-top" src="./assets/gallery/WOMEN-BOTTOMWEAR-004-navy-blue-high-risk-red-wino-fashion-color-block-joggers-aw-21-362078-1656156406-1.webp" alt="Card image" style="width:100%">
<div class="card-body">
 <p class="card-text">navy-blue-high-risk-red-wino-fashion-color-block-joggers</p>
 <p><i class="fa-solid fa-indian-rupee-sign">799</i></p>
<a href="#" class="btn btn-primary">Add To card</a>
</div>
</div>
</div>
<br>
<br>
<br>
<div class="card-deck">
  <div class="card" style="width:400px">
           <img class="card-img-top" src="./assets/gallery/WOMEN-BOTTOMWEAR-005-white-women-ethnic-printed-culottes-318466-1655821049-1.webp" alt="Card image" style="width:100%">
       <div class="card-body">
            <p class="card-text">white-women-ethnic-printed-culottes</p>
            <p><i class="fa-solid fa-indian-rupee-sign">699</i></p>
           <a href="#" class="btn btn-primary">Add To card</a>
       </div>
   </div>


 <div class="card" style="width:400px">
           <img class="card-img-top" src="./assets/gallery/WOMEN-BOTTOMWEAR-006-women-s-grey-all-over-printed-boxers-481803-1655835792-1.webp" alt="Card image" style="width:100%">
       <div class="card-body">
            <p class="card-text">WOMEN-BOTTOMWEAR-006-women-s-grey-all-over-printed-boxers</p>
            <p><i class="fa-solid fa-indian-rupee-sign">299</i></p>
           <a href="#" class="btn btn-primary">Add To card</a>
       </div>
 </div>


 <div class="card" style="width:400px">
              <img class="card-img-top" src="./assets/gallery/WOMEN-BOTTOMWEAR-007.webp" alt="Card image" style="width:100%">
    <div class="card-body">
             <p class="card-text">Women's Green High-rise Trousers</p>
             <p><i class="fa-solid fa-indian-rupee-sign">599</i></p>
            <a href="#" class="btn btn-primary">Add To card</a>
   </div>
 </div>

 <div class="card" style="width:400px">
  <img class="card-img-top" src="./assets/gallery/WOMEN-BOTTOMWEAR-008.webp" alt="Card image" style="width:100%">
<div class="card-body">
 <p class="card-text">Women Black Knitted Joggers Regular Fit</p>
 <p><i class="fa-solid fa-indian-rupee-sign">759</i></p>
<a href="#" class="btn btn-primary">Add To card</a>
</div>
</div>
</div>
<br>
<br>
<br>
</body>
</html>
<!-- <p>women works!</p> -->
